@model IEnumerable<CRUD_Alumnos.Models.Ciudad>

<select class="form-control" id="IdCiudad" name="IdCiudad">
    @foreach (var item in Model) 
     {
        <option value="@item.Id"> @item.Nombre</option>
     }
</select>

    



